body {
    background-color: rgba(118, 180, 89, 0.89);
    color:rgb(255, 255, 255);
    font-family: "Indie Flower", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 670px;
    margin: 0;
}

button {
    background-color: rgba(224, 244, 255, 0.904);
    color:   rgba(68, 102, 52, 0.89);
    font-family: "Indie Flower", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}