body {
    background-color: rgba(81, 126, 24, 0.658);
    color:rgb(255, 255, 255);
    font-family: "Indie Flower", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 670px;
    margin: 0;
}

button {
    background-color: rgba(245, 255, 248, 0.904);
    color: rgb(39, 104, 53);
    font-family: "Indie Flower", sans-serif;
}